.navbar-brand{
    padding-right:35px;
}

.vrv-button{
    border-style: none solid none none;
    border-right-width: 1px;
    border-right-color: #302e42;
    background-color: #1b1a26;
    color: white;
    border-radius: 0%;
    height: 72px;
    width: 299px;
}
.vrv-button:hover{
    background-color: #302e42;
}
.vrv-button:focus{
    background-color: #302e42;
}

.vrv-watchlist-transform{
    transform: translate(0,36%);
}

.vrv-shift{
    position: relative;
    top: 12px;
}

.vrv-button-both{
    border-style: none none none solid;
    border-color: #302e42;
    border-width: 1px;
    background-color: #1b1a26;
    color: white;
    border-radius: 0%;
    height: 72px;
    width: 74px;
}
.vrv-button-both:hover{
    background-color: #302e42;
}

.vrv-button-wide{
    border-style: none none none solid;
    border-color: #302e42;
    border-width: 1px;
    background-color: #1b1a26;
    color: white;
    border-radius: 0%;
    height: 72px;
    width: 94px;
}
.vrv-button-wide:hover{
    background-color: #302e42;
}
.vrv-button-wide:focus{
    background-color: #302e42;
}

.vrv-logo-home{
    margin-left: 12px;
    margin-right: 10px;
}

.vrv-dark{
    background-color: #302e42;
}
.vrv-dark:hover{
    background-color: #474658;
}

input{
    outline: none !important;
    border-color: #302e42;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0%;
    border-width: 3px;
    box-shadow:none;
}
input:focus { 
    outline: none !important;
    border-color: #ffdd00;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0%;
    box-shadow:none;
}
textarea:focus { 
    outline: none !important;
    border-color: none;
    box-shadow: none;
}

.vrv-no-shadow{
    box-shadow: none;
}

.vrv-drop-left{
    background-color: #302e42;
    padding-top: 20px;
    width: 400px;
    left: 0;
    right: auto;
}

.vrv-drop-right{
    background-color: #302e42;
    padding-top: 20px;
    padding-bottom: 20px;
    left: auto;
    right: 0;
    width: 300px;
}

.vrv-divider{
    color: #474658;
    height: 5px;
    opacity: 100;
}

.vrv-premium-divider{
    margin-left: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #b0aebb;
}

.vrv-logo-padding{
    padding-bottom: 4px;
    padding-top: 4px;
}

.vrv-background{
    margin-bottom: 100vh
}

.vrv-search-screen{
    background-color: #1b1a26;
    padding: 0%;
    height: 40px;
}

.vrv-underbar{
    height: 74px;
    background-color: #ffdd00;
    margin-bottom: 15px;
}

.vrv-navbar{
    background-color: #1b1a26;
    border-width: 5px;
    padding: 0%;
    height: 72px;
}

.vrv-arrow{
    padding-left: 100px;
}

.vrv-close{
    background-color: white;
    float:right;
    margin:8px;
}

.vrv-form{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.vrv-input{
    width: 700px;
    background-color: #1b1a26;
    color:white;
}