<nav class="navbar navbar-light fixed-top" style="height: 54px; background-color: #ffdd00;">
  Testing
</nav>
<nav class="navbar navbar-light fixed-top" style="background-color: #1b1a26; border-width: 5px; padding: 0%; height: 50px;">
  <div class="container-fluid p-0">

    <a class="nav-link active vrv-button" href="#" id="vrv-home-dropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="/assets/VRV-Home.png" alt="" height="30">
      VRV HOME
      <img src="/assets/Arrows.png" style="padding-left: 42px;" alt="" height="30">

    </a>
    <ul class="dropdown-menu" style="background-color: #1b1a26; padding-top: 20px; width: 400px; left: 0; right: auto;">
      <li><a class="dropdown-item vrv-dark" style="color: #ffffff;" href="https://vrv.co/">
          <img src="/assets/VRVHOME-Select-Text.png" alt="" height="40">
        </a></li>
      <li>
        <p style="margin-left: 18px; margin-top: 15px; margin-bottom: 15px; color: #b0aebb;">PREMIUM CHANNELS</p>
      </li>
      <li><a class="dropdown-item vrv-dark" href="https://vrv.co/crunchyroll">
          <img src="/assets/Crunchyroll-Select-Text.png" style="padding-bottom: 4px; padding-top: 4px;" alt="" height="48">
        </a></li>
      <li><a class="dropdown-item vrv-dark" href="https://vrv.co/mondo">
          <img src="/assets/Mondo-Select-Text.png" alt="" style="padding-bottom: 4px; padding-top: 4px;" alt="" height="48">
        </a></li>

      <li><a class="dropdown-item vrv-dark" style="padding-bottom: 4px; padding-top: 4px; margin-bottom: 100vh" href="https://vrv.co/vrvselect">
          <img src="/assets/VRV-Select-Text.png" alt="" height="40">
        </a></li>
    </ul>


    <a class="navbar-brand" href="https://vrv.co">
      <img src="/assets/VRV-Logo.png" alt="" height="30">
    </a>



    <div class="dropdown">
      <a class="btn vrv-button-both p-2" href="https://vrv.co/watchlist">
        <img src="/assets/VRV-Watchlist-Tall.png" alt="" height="30">
      </a>
      <button class="vrv-button-both" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <img src="/assets/VRV-Search.png" alt="" height="30">
      </button>
      <button class="btn vrv-button-wide dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
          class="bi bi-person-circle m-1" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>

      </button>
      <ul class="dropdown-menu"
        style="background-color: #1b1a26; padding-top: 20px; padding-bottom: 20px; left: auto; right: 0; width: 300px">
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/watchlist">
            <img src="/assets/Account-Logo-1.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/manage-profile">
            <img src="/assets/Account-Logo-2.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account">
            <img src="/assets/Account-Logo-3.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/manage-notifications">
            <img src="/assets/Account-Logo-4.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/memberships">
            <img src="/assets/Account-Logo-5.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/manage-payments">
            <img src="/assets/Account-Logo-6.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/link-accounts">
            <img src="/assets/Account-Logo-7.png" alt="" height="40">
          </a></li>
        <li>
          <hr class="dropdown-divider" style="color: #302e42; height: 5px; opacity: 100;">
        </li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co">
            <img src="/assets/Account-Logo-8.png" alt="" height="40">
          </a></li>

      </ul>

    </div>

    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-body" style="background-color: #1b1a26; padding: 0%; height: 40px;">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: white; float:right; margin:8px"></button>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        </ul>
        <form class="d-flex justify-content-center" style="margin-top: 10vh; margin-bottom: 10vh;">
          <input class="form-control me-2" style="width: 700px; background-color: #1b1a26;"type="search" placeholder="Search..." aria-label="Search">
          <button class="btn" type="submit">
            <img src="/assets/VRV-Search.png" alt="" height="30">
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>