<nav class="navbar navbar-light fixed-top vrv-underbar">
  Testing
</nav>
<nav class="navbar navbar-light fixed-top vrv-navbar">
  <div class="container-fluid p-0">

    <a class="nav-link active vrv-button" href="#" id="vrv-home-dropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="/assets/VRV-Home.png" alt="" height="30">
      VRV HOME
      <img class="vrv-arrow" src="/assets/Arrows.png" alt="" height="30">

    </a>
    <ul class="dropdown-menu vrv-drop-left">
      <li><a class="dropdown-item vrv-dark" href="https://vrv.co/">
          <img src="/assets/VRVHOME-Select-Text.png" alt="" height="40">
        </a></li>
      <li>
        <p class="vrv-premium-divider">PREMIUM CHANNELS</p>
      </li>
      <li><a class="dropdown-item vrv-dark" href="https://vrv.co/crunchyroll">
          <img class="vrv-logo-padding" src="/assets/Crunchyroll-Select-Text.png" alt="" height="48">
        </a></li>
      <li><a class="dropdown-item vrv-dark" href="https://vrv.co/mondo">
          <img class="vrv-logo-padding" src="/assets/Mondo-Select-Text.png" alt="" height="48">
        </a></li>

      <li><a class="dropdown-item vrv-dark vrv-logo-padding vrv-background" href="https://vrv.co/vrvselect">
          <img src="/assets/VRV-Select-Text.png" alt="" height="40">
        </a></li>
    </ul>


    <a class="navbar-brand" href="https://vrv.co">
      <img src="/assets/VRV-Logo.png" alt="" height="30">
    </a>



    <div class="dropdown">
      <a class="btn vrv-button-both p-2 vrv-no-shadow" href="https://vrv.co/watchlist">
        <img src="/assets/VRV-Watchlist-Tall.png" alt="" height="30">
      </a>
      <button class="vrv-button-both" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <img src="/assets/VRV-Search.png" alt="" height="30">
      </button>
      <button class="btn vrv-button-wide dropdown-toggle vrv-no-shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false">

        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
          class="bi bi-person-circle m-1" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>

      </button>
      <ul class="dropdown-menu vrv-drop-right">
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/watchlist">
            <img src="/assets/Account-Logo-1.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/manage-profile">
            <img src="/assets/Account-Logo-2.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account">
            <img src="/assets/Account-Logo-3.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/manage-notifications">
            <img src="/assets/Account-Logo-4.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/memberships">
            <img src="/assets/Account-Logo-5.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/manage-payments">
            <img src="/assets/Account-Logo-6.png" alt="" height="40">
          </a></li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co/account/link-accounts">
            <img src="/assets/Account-Logo-7.png" alt="" height="40">
          </a></li>
        <li>
          <hr class="dropdown-divider vrv-divider">
        </li>
        <li><a class="dropdown-item vrv-dark" href="https://vrv.co">
            <img src="/assets/Account-Logo-8.png" alt="" height="40">
          </a></li>

      </ul>

    </div>

    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-body vrv-search-screen">
        <button type="button" class="btn-close text-reset vrv-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        </ul>
        <form class="d-flex justify-content-center vrv-form">
          <input class="form-control me-2 vrv-input" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn" type="submit">
            <img src="/assets/VRV-Search.png" alt="" height="30">
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>