.vrv-light{
    color: #b0aebb;
}
.vrv-light:hover{
    color: white;
}

.vrv-white{
    color: white;
}

.vrv-left{
    text-align: left;
}

.vrv-footer{
    background-color: #1b1a26;
    text-align: center;
    position:relative;
    bottom: 0;
    margin-top: 15px;
}