<vrv-topnavbar bgcolor="#f47521" location="/assets/Crunchyroll-Location.png" >Loading...</vrv-topnavbar>
<div class="container-fluid d-flex justify-content-center">
    <vrv-first-ep
        thumbnail="/assets/first-episode/NarutoShippuden-FirstEp.jpeg" 
        title="Naruto Shippuden"
        episode="E1 - Homecoming"
        description="A figure passes through the gates. It’s an older Naruto, who has returned from a long training journey with Jiraiya. Naruto Uzumaki is back!"
        type="Episode"
        language="Subtitled"
        comments="3.9k"
        [time]=23
        >Loading...
    </vrv-first-ep>
</div>