<form class="vrv-form">
    <p class="vrv-head">CREATE MY FREE ACCOUNT</p>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        <img class="vrv-image" src="assets/VRV-Email.png" alt="">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <img class="vrv-image" src="assets/VRV-Password.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-warning vrv-button">
                    <p class="vrv-button-content">CREATE ACCOUNT</p>
                </button>
            </div>
            <div class="col-1">

            </div>
        </div>

    </div>
    <div>
        <span class="d-flex vrv-spacer">
            <p class="vrv-foot1">Existing User?</p>
            <a class="vrv-a-link" href=""><p class="vrv-foot2">Sign In</p></a> 
        </span>
    </div>
</form>