<vrv-topnavbar bgcolor="#f47521" location="/assets/Crunchyroll-Location.png" >Loading...</vrv-topnavbar>
<div class="container-fluid d-flex justify-content-center">
    <vrv-first-ep
        thumbnail="/assets/first-episode/AOT-FirstEp.jpeg" 
        title="ATTACK ON TITAN"
        episode="E1 - To You, 2,000 Years in the Future - The Fall of Zhiganshina (1)"
        description="After 100 years, peace is broken by the appearance of a fifty meter tall Titan."
        type="Episode"
        language="Subtitled"
        comments="3.4k"
        [time]=24
        >Loading...
    </vrv-first-ep>
</div>