<div class="card">
    <img src={{thumbnail}} class="card-img-top" alt="...">
    <div class="card-body d-flex">
        <span class="d-flex">
            <img src={{poster}} class="card-img-top vrv-small-image" alt="...">
            <div>
                <h1 class="card-text">{{title}}</h1>
                <span class="vrv-info1 vrv-space-right">{{type}} </span>
                <span class="vrv-info2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
                        class="bi bi-diamond-fill vrv-space-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435z" />
                    </svg>
                    {{language}}
                </span>
            </div>
        </span>


    </div>
    <a class="vrv-a-card" href="#"></a>
    <a href="#2">
        <img src={{logo}} class="vrv-logo">
    </a>
    
    
</div>