<div class="card">
    <div class="card-body">
        <div class="flex">
            <img class="vrv-image" src="assets/VRV-Lowres.png" alt="">
        </div>
        <div><p class="vrv-center vrv-header">VRV PREMIUM</p></div>
        <div><p class="vrv-center vrv-pricing">Everything on VRV, Ad-free, $9.99 +tax/mo</p></div>
        <div><p class="vrv-center vrv-description">Get newest episodes, exclusive series, and ad-free viewing to everything on VRV such as HarmonQuest, Dragon Ball Super, Bravest Warriors, and more!</p></div>
        <div class="container">
            <div class="row">
                <div class="col-2">

                </div>
                <div class="col-8">
                    <button type="button" class="btn btn-warning vrv-button">
                        <img class="vrv-button-text" src="assets/VRV-Premium-Button.png" alt="">
                    </button>
                </div>
                <div class="col-2">

                </div>
            </div>
            
        </div>
    </div>
    
    
</div>