<vrv-topnavbar>Loading...</vrv-topnavbar>
<div class="container vrv-no-padding">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10 d-flex vrv-spacer">
            <div class="row d-flex">
                <div *ngFor="let show of shows" class="col-4 vrv-no-padding">
                    <vrv-show-card 
                        thumbnail={{show.thumbnail}} 
                        poster={{show.poster}} 
                        title={{show.title}} 
                        type={{show.type}} 
                        language={{show.language}}
                        logo={{show.logo}}>
                        Loading...
                    </vrv-show-card>
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
    </div>
</div>


<div class="container-fluid d-flex justify-content-center">
    <vrv-first-ep></vrv-first-ep>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div *ngFor="let ep of firsteps">
        <vrv-first-ep 
            thumbnail={{ep.thumbnail}} 
            title={{ep.title}} 
            episode={{ep.episode}} 
            type={{ep.type}} 
            description={{ep.description}}
            language={{ep.language}}
            comments={{ep.comments}}
            time={{ep.time}}>
            Loading...
        </vrv-first-ep>
    </div>
</div>





<vrv-footer>Loading...</vrv-footer>