<div class="container-fluid d-flex justify-content-center">
    <vrv-first-ep
        thumbnail="/assets/first-episode/CSA-FirstEp.jpeg" 
        title="A CERTAIN SCIENTIFIC ACCELERATOR"
        episode="E1 - Accelerator (Academy City's Mightiest Esper)"
        description="The day arrives for Accelerator's bandages to come off after he is shot in the head, and Last Order is eager to celebrate. A secret weapon is stolen from an atmospheric research facility, and the culprits seem to be targeting Accelerator with it."
        type="Episode"
        language="Subtitled"
        comments="267"
        time="23"
        >Loading...
    </vrv-first-ep>
        
   
</div>