.vrv-underbar{
    height: 154px;
    margin-bottom: 15px;
    background-color: #ffdd00;
    color:white
}

.scrollspy-example{
    position: relative;
    margin-top: 0.5rem;
    overflow: auto;
    color: white;
}

body{
    position: relative;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #302e42;
    color: white;
}

.vrv-active{
    color: #b0aebb;
}

.vrv-active:hover{
    background-color: #474658;
}

.vrv-dropdown{
    background-color: #302e42;
}

.vrv-category{
    margin-left: 395px; 
    font-size: 22px;
}

.vrv-box{
    height: 89px;
}