<vrv-topnavbar bgcolor="#ffdd00" location="/assets/VRV-Location.png" >Loading...</vrv-topnavbar>

<div style="height: 600px;">

</div>

<vrv-browse-navbar></vrv-browse-navbar>

<div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <div id="scrollspyHeading1">
        <h4>A is for A Bridge to the Starry Skies - Hoshizora e Kakaru Hashi</h4>
        <div style="height: 800px"></div>
    
    </div>
    <h4 id="scrollspyHeading2">Second heading</h4>
    <h4 id="scrollspyHeading3">Third heading</h4>
    <h4 id="scrollspyHeading4">Fourth heading</h4>
    <h4 id="scrollspyHeading5">Fifth heading</h4>
</div>


<div class="container vrv-no-padding">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10 d-flex vrv-spacer">
            <div class="row d-flex">
                <div *ngFor="let show of shows" class="col-2 vrv-no-padding">
                    <vrv-browse-showcard 
                        thumbnail={{show.thumbnail}} 
                        title={{show.title}} 
                        type={{show.type}} 
                        language={{show.language}}
                        logo={{show.logo}}
                        route={{show.route}}>
                        Loading...
                    </vrv-browse-showcard>
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
    </div>
</div>



<div style="height: 1800px;">

</div>