<nav id="navbar-example" class="navbar px-3 vrv-navbar-see-through sticky-top" style="height: 58px; transform: translateY(74px);">
    <nav class="nav nav-pills flex-row" style="margin-left:165px; width: 800px">
        <a class="nav-link ms-3 my-1 vrv-overlay vrv-placement" href="#scrollspyHeading1">A is for A Bridge to the Starry Skies - Hoshizoro e Kakaru Hashi</a>
        <a class="nav-link ms-3 my-1 vrv-overlay vrv-placement" href="#scrollspyHeading2">B is for B-PROJECT</a>
        <a class="nav-link ms-3 my-1 vrv-overlay vrv-placement" href="#scrollspyHeading3">C is for Calamity of a Zombie Girl</a>
    </nav>
    <ul class="nav nav-pills">
        
        <li class="nav-item dropdown vrv-placement">
            <a class="nav-link dropdown-toggle" style="width: 1000px; color: transparent" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false"></a>
            <ul class="dropdown-menu vrv-dropdown">
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading1">A</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading2">B</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading3">C</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading4">D</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">E</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">F</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">G</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">H</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">I</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">J</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">K</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">L</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div style="height: 200px;"></div>
