<nav id="navbar-example" class="navbar px-3 bg-light sticky-top" style="height: 58px; transform: translateY(0px);">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="nav nav-pills">
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="transform:translateX(-1200px)" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu vrv-dropdown" style="transform:translateX(-1200px)">
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading1">A</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading2">B</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading3">C</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading4">D</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading5">E</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div style="height: 200px;"></div>
<div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <div id="scrollspyHeading1" style="height: 132px;">

    </div>
    <h4>A is for A Bridge to the Starry Skies - Hoshizora e Kakaru Hashi</h4>
    <h4 id="scrollspyHeading2">Second heading</h4>
    <h4 id="scrollspyHeading3">Third heading</h4>
    <h4 id="scrollspyHeading4">Fourth heading</h4>
    <h4 id="scrollspyHeading5">Fifth heading</h4>
</div>