<nav id="navbar-example" class="navbar px-3 vrv-navbar-see-through sticky-top">
    <nav class="nav nav-pills flex-row vrv-click">
        <a class="nav-link ms-3 my-1 vrv-overlay vrv-placement" href="#scrollspyHeading1">
            A is for A Bridge to the Starry Skies - Hoshizoro e Kakaru Hashi
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
        </a>
        <a class="nav-link ms-3 my-1 vrv-overlay vrv-placement" href="#scrollspyHeading2">
            B is for B-PROJECT
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
        </a>
        <a class="nav-link ms-3 my-1 vrv-overlay vrv-placement" href="#scrollspyHeading3">
            C is for Calamity of a Zombie Girl
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
        </a>
    </nav>
    <ul class="nav nav-pills">
        
        <li class="nav-item dropdown vrv-placement">
            <a class="nav-link dropdown-toggle vrv-dropdown-bar" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false"></a>
            <ul class="dropdown-menu vrv-dropdown">
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading1">A is for A Bridge to the Starry Skies - Hoshizora e Kakaru Hashi</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading2">B is for B-PROJECT</a></li>
                <li><a class="dropdown-item vrv-active" href="browse#scrollspyHeading3">C is for Calamity of a Zombie Girl</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div style="height: 200px;"></div>
