.container{
    padding:0;
    height: 306px;
}

.vrv-container.container{
    height: 306px;
}

.vrv-container{
    height: 306px;
    width: 1428px;
    overflow: hidden;
}

.vrv-a-card{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}


a.vrv-a-card:hover a img.vrv-logo{
    background-color: #f47521;
}

.card-body{
    padding:0;
    height: 0px;
    transform: translateY(-100px);
}
.card{
    border:0;
    border-radius: 0;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 85px;
    height: 266px;
    width: 100%;
}

a.background{
    height: 100%;
    width: 100%;
    opacity: 0.16;
    transform: rotateZ(0.95deg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-image: url(https://static.vrv.co/imgsrv/display/thumbnail/800x450/catalog/crunchyroll/10c808d2548ed4dbb54f7cce4c1ea979.jpeg);
}


h1{
    color: #f9f9fa;
    padding-top: 20px;
    height: 42px;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: normal;
    overflow: hidden;
    text-overflow: clip;
    margin-right: 15px;
}

p{
    color:lightskyblue;
    font-size: 14px;
}

.vrv-info1{
    color: #00b4ff;
    font-size: 14px;
}

.vrv-start-watching{
    width: 235px;
    height: 52px;
    border-style: solid;
    border-radius: 0;
    border-width: 2px;
    border-color: #ffdd00;
    color: #ffdd00;
    background-color: transparent;
    position: absolute;
    left: 615px;
    bottom: 40px
}

.vrv-start-watching:hover{
    background-color: #ffea62;
    color: black;
    border-color: #ffea62;
}

.vrv-watching{
    font-family: sans-serif;
    font-size: 24px;
}

.vrv-play-shift{
    transform: translateY(-4px);
}

.vrv-show-overlay{
    position: relative;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity: 0;
}

.vrv-show-overlay:hover{
    opacity: 1;
}

.vrv-shift{
    position: relative;
    left:615px;
    bottom: 112px;
}

.vrv-info2{
    color: #b0aebb;
    font-size: 14px;
}

.vrv-small-image{
    height: 210px; 
    width: 140px; 
    position: absolute; 
    top: 72px;
    left: 435px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 5px black, 3px 3px 10px black, -3px -3px 10px black;
    border-radius: 0;
}

.vrv-space-right{
    padding-right: 3px;
}

.vrv-logo{
    position: absolute;
    height:30px;
    top:72px;
    right:485px;
    background-color: #302e42;
    border-radius: 100%;
    padding:4px;
}

.vrv-logo:hover{
    background-color: #f47521;
}