<nav class="navbar navbar-light vrv-navbackground fixed-top">
  <div class="container-fluid p-0">

    <a class="nav-link active vrv-button" href="#" id="vrv-home-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="/assets/VRV-Home.png" alt="" height="30">
        VRV HOME
        
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>

    </a>

    <ul class="dropdown-menu">
      <li class="nav-item">
        Test 1
      </li>
      
      <li class="nav-item">
        Test 2
      </li>

    </ul>


  <a class="navbar-brand" href="https://vrv.co">
    <img src="/assets/VRV-Logo.png" alt="" height="30">
  </a>


    
    <div>
        <a class="btn vrv-button-both p-2" href="https://vrv.co/watchlist">
            <img src="/assets/VRV-Watchlist-Tall.png" alt="" height="30">
        </a>
        <button class="vrv-button-both" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <img src="/assets/VRV-Search.png" alt="" height="30">
        </button>
        <button class="vrv-button-wide" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle m-1" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
        </button>
        
    </div>
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      
      <div class="offcanvas-body vrv-searchscreen">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
              <img src="/assets/VRV-Search.png" alt="" height="30">
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>


      