<vrv-topnavbar bgcolor="#f47521" location="/assets/Crunchyroll-Location.png" >Loading...</vrv-topnavbar>
<div class="container-fluid d-flex justify-content-center">
    <vrv-first-ep
        thumbnail="/assets/first-episode/DemonSlayer-FirstEp.jpeg" 
        title="Demon Slayer: Kimetsu no Yaiba"
        episode="E1 - Cruelty"
        description="It is the Taisho Period. Tanjiro Kamado is living a modest but blissful life in the mountains with his family. One day, when he returns from selling charcoal in town, he finds his family slaughtered in pools of blood after a demon attack. Tanjiro rushes down the snowy mountain with the sole survivor, his sister Nezuko, on his back. But on the way, Nezuko suddenly snarls, turning on Tanjiro."
        type="Episode"
        language="Subtitled"
        comments="3.7k"
        [time]=23
        >Loading...
    </vrv-first-ep>
</div>