<div class="container-fluid d-flex justify-content-center">
    <vrv-first-ep
        thumbnail="/assets/first-episode/BlackClover-FirstEp.jpeg" 
        title="Black Clover"
        episode="E1 - Asta and Yuno"
        description="In this world, everyone can use magic... and in a land called the Clover Kingdom, two young men, Asta and Yuno, strive to become the Wizard King, the greatest of all magic users. Asta and Yuno were abandoned together at a church in Hage, a village in the boonies, and lived as brothers from that day onward. For some reason, however, Asta never developed the ability to use magic, even when Yuno had already mastered wind magic. Now, at last, the boys are turning fifteen, the age at which children receive their own grimoires. Asta has high hopes that receiving his grimoire will awaken his latent ability to use magic, but when the time comes..."
        type="Episode"
        language="Subtitled"
        comments="3.8k"
        time="23"
        >Loading...
    </vrv-first-ep>
</div>